* {
  box-sizing: border-box;
}

@font-face {
  font-family: "vazirmatn";
  font-weight: 100 900;
  src: url("./Vazirmatn[wght].woff2");
}

body {
  width: 12rem;
  margin: 0;
  color: #dfdffa;
  background: #14181f;
  --font: vazirmatn;
  font-family: var(--font), system-ui;
  text-align: center;
  flex-direction: column;
  padding: .5rem;
}
a {
  color: #00a19d;
  text-decoration: none;
}
.ext-wrp {
  display: flex;
  flex-wrap: wrap;
  gap: .25rem;
}

.btn {
  color: #fff;
  background: linear-gradient(to bottom, #00a3a0, #01817f);
  padding: .25em;
  margin: 0;
  font: bold 1rem / 1 var(--font);
  text-align: center;
  display: inline-block;
  box-shadow: inset 0 8px 4px -6px #fff;
  border: 2px solid #0001;
  border-radius: 50%;
  user-select: none;
  cursor: pointer;
  line-height: 1;
  --w: 2.5em;
  min-width: var(--w);
  width:var(--w);
  height: var(--w);
  transition: 250ms ease;
}
.btn:hover,.btn:focus {
  opacity: 0.75;
}
.btn:active {
  transform: scale(0.95);
}
.icon {
  width: 1em;
  height: 1em;
  font-size: 1.5em;
  vertical-align: middle;
}
.icon-path {
  fill: none;
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 16;
}
